.portfolio-swiper {
  overflow: visible !important;
}

.swiper-slide {
  width: 350px;
  height: auto;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-bullet-active {
  background: #3dff8b;
}

@media (max-width: 768px) {
  .swiper-slide {
    width: 300px;
  }
}